.explanation {
  font-size: 20px;
}

h1 {
  font-size: 50px;
  /* margin-left: 50px; */
}

body {
  font-family: 'Source Serif Pro', serif;
}

.grids {
  display: flex;
  flex-direction: row;
  margin: 50px;
  justify-content: center;
  align-items: center;
}

#canvas-2 {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-right: 50px;
}

#canvas-4 {
  margin-left: 50px;
  margin-top: 50px;
}

.explanation-block {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 560px);
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.exp-and-maze {
  display: flex;
  flex-direction: row;
}

#canvas-1 {
  margin-left: 50px;
}

.dfs-block {
  display: flex;
  flex-direction: row;
}

#canvas-5 {
  margin-left: 50px;
}
