.explanation {
  font-size: 20px;
}

h1 {
  font-size: 50px;
  /* margin-left: 50px; */
}

body {
  font-family: 'Source Serif Pro', serif;
}

.grids {
  display: flex;
  flex-direction: row;
  margin: 50px;
  justify-content: center;
  align-items: center;
}

#canvas-2 {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-right: 50px;
}

#canvas-4 {
  margin-left: 50px;
  margin-top: 50px;
  border: 1px solid #cbb3b7;
  margin-bottom: 50px;
  padding: 10px;
}

.explanation-block {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 560px);
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.exp-and-maze {
  display: flex;
  flex-direction: row;
}

#canvas-1 {
  background-color: black;
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid black;
  padding-right: 10px;
  padding-bottom: 10px;
}

.dfs-block {
  display: flex;
  flex-direction: row;
}

#canvas-5 {
  margin-left: 50px;
  border: 1px solid lightgray;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: lightgray;
  margin-top: 20px;
}

#canvas-6 {
  background-color: #bea1a5;
  margin-top: 50px;
  margin-right: 50px;
  padding-left: 10px;
  padding-top: 10px;
}

#canvas-7 {
  background-color: white;
  border: 1px solid #B7979C;
  margin-left: 50px;
}

#dfs-weighted {
  font-family: 'Source Serif Pro', serif;
  margin-left: 190px;
}

.dfs-weighted {
  font-family: 'Source Serif Pro', sans-serif;
  background-color: #B7979C;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}

.dfs-weighted:focus {
  outline: 0;
}

#dfs_weighted:hover {
  cursor: pointer;
}

#dfs-random {
  margin-left: 1130px;
  margin-top: 50px;
}

#kruskal {
  margin-left: 1130px;
  margin-top: 50px;
}
